<% layout('/layout') %>

Check status on a previously submitted scan job

<form action="/status" method="POST" class="needs-validation">
  <div class="form-floating mb-3">
    <input class="form-control" required="true" id="token" name="token" value="<%- token %>" type="text" />
    <label for="token">Token (provided in your welcome package)</label>
  </div>
  <div class="mb-3">
    <input class="btn btn-primary btn-lg form-control" type="submit" value="Search for scan job results" />
  </div>
<% if ((typeof messages==="undefined")?false:messages) { %>
  <div class="mb-3">
    <ul style="color:red">
      <% messages.forEach(($)=>{ %>
        <li><%- $ %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
<% if ((typeof status==="undefined")?false:status) { %>
  <div class="card text-center" style="width: 18rem;">
    <i class="bi-<%- frontend.icon %> icon-feature text-gradient d-block mb-3"></i>
    <div class="card-body">
      <h3 class="font-alt"><%- frontend.state %></h3>
      <p class="text-muted mb-0">Upload status: <%- frontend.sscUploadState %><br/>
      last verified at: <%- frontend.time %> </p><br/>
      <% if (frontend.files) { %>
      <p>
        <form action="/status" method="POST">
          <button class="btn btn-primary" name="detail" value="FPR"><i class="bi-file-earmark-arrow-down"></i> .FPR</button> 
          <button class="btn btn-primary" name="detail" value="LOG""><i class="bi-file-earmark-arrow-down"></i> .LOG</button>
        </form>
      </p>
      <% } %>
    </div>
  </div>
<% } %>
</form>


<%- partial('partial/curl') %>