<% layout('/layout') %>

Upload your application source code to the Software Security Center portal (requires a token and a file, either a single file or a zip)


<form action="/upload" method="POST" enctype="multipart/form-data">
<div class="mb-3">
    <input type="file" class="form-control" name="file" />
</div>

<div class="form-floating mb-3">
    <input class="form-control" id="token" name="token" value="<%- token %>" type="text" placeholder="<%- token %>" />
    <label for="token">Token (provided in your welcome package)</label>
</div>

<div class="mb-3">
<input class="btn btn-primary btn-lg form-control" type="submit" />
</div>

<% if ((typeof submission==="undefined")?false:submission) { %>
    <div class="card text-center" style="width: 18rem;">
    <i class="bi-cloud-check icon-feature text-gradient d-block mb-3"></i>
    <div class="card-body">
        <h3 class="font-alt">Submitted Successfully</h3>
        <p class="text-muted mb-0">JobToken: <%- jobtoken %></p>
        <br/>
        <p class="text-center">
            <a class="btn btn-outline-primary btn-lg text-gradient" href="/status/<%- jobtoken %>"><i class="bi-patch-question"></i> Check job status</a> 
        </p>
    </div>
    </div>
<% } else { %>
    <div class="mb-3">
    <ul style="color:red">
        <% if ((typeof messages==="undefined")==false) { 
            messages.forEach(($)=>{ %>
        <li><%- $ %></li>
        <% })} %>
    </ul>
    <% if ((typeof jobtoken==="undefined")?false:jobtoken) { %>
    <p class="text-center">
        <a class="btn btn-outline-primary btn-lg text-gradient" href="/status/<%- jobtoken %>"><i class="bi-patch-question"></i> Check job status</a> 
    </p>
    <% } %>
    </div>
<% } %>
</form>