<% layout('/layout') %>

List SAST security issues for a particular Project

<form action="/sast/issues" method="POST" class="needs-validation">
  <div class="form-floating mb-3">
    <input class="form-control" id="token" required="true" name="token" value="<%- token %>" type="text" />
    <label for="token">Token (provided in your welcome package)</label>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" name="group" id="floatingSelectGroup" aria-label="Group by">
      <% [["","None (default)"],["CWE","CWE"],["OWASPASVS40","OWASPASVS40"],["GDPR","GDPR"]].forEach((x)=> { 
        s = (group==x[0]) ? "selected" : ""
        %>
        <option value="<%- x[0] %>" <%- s %>><%- x[1] %></option>
      <% }) %>
    </select>
    <label for="floatingSelectGroup">Group by</label>
  </div>
  <div class="mb-3">
    <input class="btn btn-primary btn-lg form-control" type="submit" value="Lookup security issues" />
  </div>
</form>
<% if ((typeof messages==="undefined")?false:messages) { %>
  <div class="mb-3">
    <ul style="color:red">
      <% messages.forEach(($)=>{ %>
        <li><%- $ %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
<%- partial('../partial/curl') %>

<% 
if (!(typeof data==="undefined")&&(data!=null)&&!(typeof data.issueGroups==="undefined")&&!(typeof data.issueGroups.data==="undefined")) { %>
<div class="card text-right">
  <div class="card-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <!--<th scope="col">Description</th>-->
        <th scope="col" class="text-center">Descr</th>
        <th scope="col" class="text-center">File</th>
        <th scope="col" class="text-center">Line</th>
      </tr>
    </thead>
    <tbody>
      <% for (var j=0; j<data.issues.data.length; j++) { 
        ig = data.issueGroups.data[j]
        is = data.issues.data[j].responses[0].body.data
        if (data.issues.data.length==data.issueGroups.data.length) { %>
        <tr class="table-primary"><td colspan="4"><%- ig.cleanName %></td></tr>
        <% } 
          for (var i=0; i<is.length; i++) { 
          it = is[i]
          %>
          <tr>
            <td><%- it.id %></td>
            <td><%- it.issueName %></td>
            <td><span data-toggle="tooltip" data-placement="right" title="<%- it.fullFileName %>"><%- it.primaryLocation %></span>
            </td>
            <td><%- it.lineNumber %></td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
  </div>
</div>
<% } %>

